extends base.pug
block style
        style
            include ../static/style.css
block content   
    section#introsection 
        div Welcome to keshaw's dance academy
        div.light "dancers are atheletes of god"
            
    div#mission 
        h3 Our mission
        div.card#perfection
            h4 perfection
        div.card#dedication
            h4 dedication 
        div.card#passion
            h4 passion  
    section#sponsorssection 
        h3 Our sponsors
        div#sponsors
            img(src="/static/sponsor 1.png", alt="sponsor image")
            img(src="/static/sponsor 2.png", alt="sponsor image")
            img(src="/static/sponsor 3.jpg", alt="sponsor image")
    

    

    
            